<% if current_user.id == @decision.user.id %>


<!-- Validation failure messages -->
<% if @decision.errors.any? %>
  <% @decision.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit the description</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_decision/<%= @decision.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->

        <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @decision.user_id %>">

      <!-- Label and input for description -->
      <div class="form-group">

        <input type="text" id="description" name="description" placeholder="Description" class="form-control" rows="<%= @decision.description %>">
      </div>

      <!-- Label and input for note -->



      <button class="btn btn-warning">
        Update Decision
      </button>
      or
      <a href="/decisions/">Cancel</a>
    </form>
  </div>
</div>

<% end %>
