<% if current_user.id == @rating.choice.decision.user.id %>

<div class="page-header">
  <h3>Rating #<%= @rating.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Choice</dt>
      <dd><%= @rating.choice_id %></dd>

      <dt>Factor</dt>
      <dd><%= @rating.factor_id %></dd>

      <dt>Value</dt>
      <dd><%= @rating.value %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/ratings" class="btn btn-primary">
        Back
      </a>
      <a href="/ratings/<%= @rating.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_rating/<%= @rating.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<% end %>
